.DS_Store

# SwiftPM
/.build
/Packages
.swiftpm

# Xcode
derivedData/
DerivedData/
xcuserdata/
*.xcuserstate
*.xcworkspace/
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcodeproj/xcuserdata/**
*.xcresult

# IDE/editor
.idea/
.vscode/

# Editors/OS junk
*~
*.swp
